{
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 150,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
