body {
    background-color: #404854;
}

footer {
    border-top: solid 1px ;
    margin: 4px;
}

.root-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 26px;
    height: 100vh;
}

.main-container {
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.main-container * {
    flex-grow: 1;
}