body {
  background-color: #404854;
}

footer {
  border-top: solid 1px;
  margin: 4px;
}

.root-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 26px;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.main-container > div:first-child {
  flex: 1 1 100px;
}

.tool-container {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  gap: 12px;
}

.tool-container .react-colorful {
  flex-direction: row;
  width: 200%;
  box-sizing: border-box;
  height: 100%;
}

.tool-container .react-colorful__saturation {
  width: 50%;
  margin-right: 8px;
  border-radius: 2px;
  border-bottom: 0;
  box-shadow: 0 0 0 0 rgba(76, 144, 240, 0), 0 0 0 0 rgba(76, 144, 240, 0), 0 0 0 0 rgba(76, 144, 240, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px 0 #8f99a8;
}

.tool-container .react-colorful__hue {
  height: 29px;
  width: 49%;
  margin: 0 8px;
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba(76, 144, 240, 0), 0 0 0 0 rgba(76, 144, 240, 0), 0 0 0 0 rgba(76, 144, 240, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px 0 #8f99a8;
}

.responsive-table::-webkit-scrollbar {
  display: none;
}

.responsive-table {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.responsive-table table {
  width: 100%;
}

.responsive-table td {
  text-align: center !important;
  vertical-align: middle !important;
}

.responsive-table th {
  text-align: center !important;
  vertical-align: middle !important;
}
